.card {
    margin-top: 1rem;
}
.card-title {
    font-size: 0.9rem;
    font-weight: bold;
}
/* .card-text {
    font-color : grey;
} */
.card-block {
    padding : 1rem; 
}
/* .img-fluid {
    height : 5rem;
} */
