.card {
    margin-top: 1rem;
}
.card-title {
    font-size: 0.9rem;
    font-weight: bold;
}
/* .card-text {
    font-color : grey;
} */
.card-block {
    padding : 1rem; 
}
/* .img-fluid {
    height : 5rem;
} */
.btn-circle.btn-m {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
